:root {
    font-size: 16px;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Allura', cursive;
    font-size: 3.5rem;
    font-weight: 300;
    word-spacing: 8px;
    text-align: center;
    margin-top: 10px;
}

.bgColor {
    background-color: #F0E5DF ;
}

.textPres {
    margin: 10px;
}

.img1 {
    width: 100%;
}
